* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /* pantone 3425c */
    background: #006341 url("../img/morgane-le-breton-green-christmas-tree-with-string-lights-unsplash.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: cursive;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.card_content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    /* pantone 485c */
    border: 6px solid #da291c;
    border-radius: 1rem;
    backface-visibility: hidden;
    transition: all 1s ease;
}

.card:hover .card_back {
    transform: rotateY(0deg);
}

.card:hover .card_front {
    transform: rotateY(180deg);
}

.front {
    /* pantone 3425c */
    /* background-color: #006341; */
    /* pantone 485c */
    background: #da291c url("../img/toa-heftiba-sweet-pastries-on-black-ceramic-plate-unsplash.jpg") no-repeat center;
    background-size: cover;
    /* pantone cool gray 1 */
    /* background-blend-mode: color-burn; */
    background-blend-mode: luminosity;
    color: #e2e2e2;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem .5rem;
    /* pantone 871c */
    background-color: #84754e;
    transform: rotateY(180deg);
}

.old_front {
    transform: rotateY(180deg);
}

.old_back {
    transform: rotateY(0deg);
}

q {
    font-style: italic;
}

.date {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .6rem;
}

.form {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-num {
    padding-left: .5rem;
}